.root1Class { color: blue }
.root2Class { color: red }



button {
    line-height: 24px;
    box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.5);
    border: none;
    border-radius: 2px;
    background: #A3D9F5;
    cursor: pointer;
    margin: 0 3px;
  }